version: '3'
services:
  web:
    build: .
    ports:
      - "5000:5000"
  #   depends_on:
  #     - db
  # db:
  #   image: mysql:8
  #   ports:
  #     - "3306:3306"
  #   volumes:
  #     - ./data:/var/lib/mysql